@font-face {
    font-family: UltraHyper;
    src: url("assets/UltraHyper-Regular.otf") format("opentype");
}

@font-face {
    font-family: UltraHyper;
    font-style: italic;
    src: url("assets/UltraHyper-Italic.otf") format("opentype");
}

body {
	margin: 40px auto;
	max-width: 650px;
	line-height: initial;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
    text-align: center;
    background-image: url("assets/grid.jpg");
}
.ss {
	width:30%;
	height:30%;
}

h1 {
    margin-top:0;
    font-style: italic;
    font-family: 'UltraHyper';
    letter-spacing: .2rem;
}

.title {
	font-size: 1em;
	font-weight: bold;
}

.subtitle {
	font-size: 0.83em;
	font-weight: bold;
}

.item {
    margin-bottom:20.5px;
}

@media only screen and (max-device-width: 800px) {
	.ss {
		width:95%;
		height:95%;
	}
	.title {
		font-size: 3em;
		font-weight: bold;
	}
}